{
  "openapi": "3.0.0",
  "info": {
    "title": "Pactly Public API",
    "description": "The Pactly Public API provides programmatic access to contract lifecycle management capabilities, enabling integration with your existing systems. Key features include:\n\n• **Contract Management**: Create, retrieve, update, and search contracts across your organization\n• **Template Operations**: Access and manage contract templates for consistent document generation\n• **Document Generation**: Generate contracts from templates with dynamic variable substitution\n• **Text Extraction**: Extract and analyze text content from contracts and documents\n• **Workflow Automation**: Trigger workflows and track contract lifecycle events\n\nThe API follows RESTful principles and returns JSON responses. All endpoints require authentication via API key.",
    "termsOfService": "https://www.pactly.com/terms",
    "contact": {
      "name": "Pactly",
      "url": "https://www.pactly.com",
      "email": "developers@pactly.com"
    },
    "version": "0.2.0",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://api.pactly.ai/"
    },
    {
      "url": "https://staging-api.pactly.com/"
    },
    {
      "url": "https://api-uat.pactly.com/"
    }
  ],
  "externalDocs": {
    "url": "https://www.pactly.com/api",
    "description": "Find more information about Pactly API capabilities, authentication, and best practices"
  },
  "tags": [
    {
      "name": "Contracts",
      "description": "Operations related to contract management including creation, retrieval, updates, and text extraction"
    },
    {
      "name": "Templates",
      "description": "Manage contract templates that serve as the foundation for generating new contracts"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "schemas": {
      "accountstat": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/accountstat-without-required-constraint"
          }
        ]
      },
      "accountstat-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **AccountStat**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "objectId": {},
          "type": {
            "type": "string"
          },
          "data": {
            "description": "The data for the statistic"
          }
        }
      },
      "analytics": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/analytics-without-required-constraint"
          },
          {
            "required": [
              "key",
              "data"
            ]
          }
        ]
      },
      "analytics-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Analytics**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "key": {
            "type": "string",
            "description": "What the analytics data is for e.g. history",
            "example": "history"
          },
          "data": {
            "type": "string",
            "description": "Array of objects.",
            "example": "[{}, {}, ...]"
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          }
        }
      },
      "apikey": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/apikey-without-required-constraint"
          },
          {
            "required": [
              "key",
              "name"
            ]
          }
        ]
      },
      "apikey-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ApiKey**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "key": {
            "type": "string",
            "description": "The API key",
            "maxLength": 64,
            "uniqueItems": true
          },
          "name": {
            "type": "string",
            "description": "A descriptive name for the API key",
            "example": "Production Server Key",
            "maxLength": 255
          },
          "active": {
            "type": "boolean",
            "default": true,
            "description": "Whether the API key is active or not",
            "example": true
          },
          "lastUsedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time this API key was used"
          },
          "keyPrefix": {
            "type": "string",
            "description": "First 8 characters of the key for identification",
            "maxLength": 8
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "User who created this API key JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "approval": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/approval-without-required-constraint"
          },
          {
            "required": [
              "status"
            ]
          }
        ]
      },
      "approval-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Approval**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ]
          },
          "completedAt": {
            "type": "string",
            "format": "date"
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "approvalrequest": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/approvalrequest-without-required-constraint"
          },
          {
            "required": [
              "status"
            ]
          }
        ]
      },
      "approvalrequest-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ApprovalRequest**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "status": {
            "type": "string",
            "description": "rejected | approved - The status of the approval request."
          },
          "completedAt": {
            "type": "string",
            "format": "date",
            "description": "The date the approval request was completed"
          },
          "valid": {
            "type": "boolean",
            "default": true,
            "example": true
          },
          "message": {
            "type": "string",
            "description": "The message for the approval request"
          },
          "approval": {
            "description": "The overall state of the approval request i.e. can have many approvalrequest. JSON dictionary representing the **approval** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/approval"
              }
            ]
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "The user who needs to respond to the approval request. JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "authorization": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/authorization-without-required-constraint"
          }
        ]
      },
      "authorization-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Authorization**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "resourceId": {
            "type": "string",
            "description": "Id of the resource"
          },
          "resourceModelName": {
            "type": "string",
            "description": "Model name of the resource e.g. \"templatecontract\""
          },
          "email": {
            "type": "string",
            "description": "This one is set if the authorization is set on email vs user"
          },
          "authorizee": {
            "description": "User who was authorized to access resourceId JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "user": {
            "description": "User who created the authorization JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "company": {
            "description": "Company in which the authorization happened JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          }
        }
      },
      "category": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/category-without-required-constraint"
          },
          {
            "required": [
              "label"
            ]
          }
        ]
      },
      "category-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Category**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "label": {
            "type": "string",
            "description": "The label for the category"
          },
          "abbreviation": {
            "type": "string",
            "default": "",
            "description": "The abbreviation for the category"
          },
          "description": {
            "type": "string",
            "description": "The description for the category"
          },
          "isDefault": {
            "type": "boolean",
            "default": false,
            "description": "Whether the category is the default category i.e. shown to all companies"
          },
          "company": {
            "description": "The company the category belongs to JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "The user who created the category JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "chatattachment": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/chatattachment-without-required-constraint"
          },
          {
            "required": [
              "fileName",
              "fileKey",
              "fileSize",
              "fileType",
              "sessionId",
              "user",
              "company"
            ]
          }
        ]
      },
      "chatattachment-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ChatAttachment**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "fileName": {
            "type": "string",
            "description": "Original filename of the uploaded file"
          },
          "fileKey": {
            "type": "string",
            "description": "S3 key or file path for the stored file"
          },
          "fileSize": {
            "type": "number",
            "format": "double",
            "description": "Size of the file in bytes"
          },
          "fileType": {
            "type": "string",
            "description": "MIME type or file extension"
          },
          "extractedText": {
            "type": "string",
            "description": "Extracted text content from the file for AI context"
          },
          "sessionId": {
            "type": "string",
            "description": "Chat session identifier"
          },
          "messageId": {
            "type": "string",
            "description": "Optional link to specific message in the chat"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when this attachment should be auto-deleted"
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          }
        }
      },
      "clause": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/clause-without-required-constraint"
          },
          {
            "required": [
              "title",
              "text",
              "html"
            ]
          }
        ]
      },
      "clause-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Clause**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "title": {
            "type": "string",
            "description": "Clause title",
            "maxLength": 256
          },
          "text": {
            "type": "string",
            "description": "The text of the clause"
          },
          "html": {
            "type": "string",
            "description": "The html of the clause"
          },
          "tags": {
            "type": "array",
            "items": {},
            "default": [],
            "description": "The tags for the clause",
            "example": []
          },
          "isConditional": {
            "type": "boolean",
            "default": false,
            "description": "DEPRECATED: Not in use, should be removed"
          },
          "user": {
            "description": "The user who created the clause JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "group": {
            "description": "JSON dictionary representing the **group** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/group"
              }
            ]
          }
        }
      },
      "company": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/company-without-required-constraint"
          },
          {
            "required": [
              "name"
            ]
          }
        ]
      },
      "company-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **Company**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "name": {
            "type": "string",
            "description": "Full legal name of the company",
            "example": "Pactly Private Limited",
            "maxLength": 120
          },
          "seq": {
            "type": "number",
            "format": "double",
            "nullable": true,
            "description": "Sequential number of company on the platform",
            "uniqueItems": true
          },
          "vatId": {
            "type": "string",
            "description": "Tax id / company registration",
            "example": "UEN231235020",
            "maxLength": 120
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the company",
            "example": "+64 8479 3630",
            "maxLength": 120
          },
          "country": {
            "type": "object",
            "properties": {
              "name": {
                "example": "Sweden",
                "type": "string"
              },
              "code": {
                "example": "SWE",
                "type": "string"
              }
            },
            "description": "Country code and name",
            "example": {
              "name": "Sweden",
              "code": "SWE"
            }
          },
          "employeeCount": {
            "type": "string",
            "default": "",
            "description": "Range for number of employees",
            "example": "1-5"
          },
          "logoUrl": {
            "type": "string",
            "default": "",
            "description": "Url to the company logo image.",
            "example": "https://example.com/logo.png"
          },
          "subscription": {
            "type": "object",
            "properties": {
              "planId": {
                "example": "pactly-enterprise",
                "type": "string"
              },
              "startDate": {
                "type": "object",
                "properties": {}
              },
              "endDate": {
                "type": "object",
                "properties": {}
              },
              "currency": {
                "example": "sgd",
                "type": "string"
              },
              "billingCycle": {
                "example": "annual",
                "type": "string"
              },
              "remarks": {
                "example": "",
                "type": "string"
              },
              "disableGuides": {
                "example": false,
                "type": "boolean"
              },
              "capabilities": {
                "example": {
                  "generation": true,
                  "checklists": false,
                  "workflows": true,
                  "contractStatus": true,
                  "integrations": true,
                  "playbooks": true,
                  "chatSupport": true,
                  "contractingHub": false,
                  "signwell": true,
                  "experimental": false,
                  "actionRequired": false,
                  "liteRole": false,
                  "sanctionsCheck": false
                },
                "type": "object",
                "properties": {
                  "generation": {
                    "example": true,
                    "type": "boolean"
                  },
                  "checklists": {
                    "example": false,
                    "type": "boolean"
                  },
                  "workflows": {
                    "example": true,
                    "type": "boolean"
                  },
                  "contractStatus": {
                    "example": true,
                    "type": "boolean"
                  },
                  "integrations": {
                    "example": true,
                    "type": "boolean"
                  },
                  "playbooks": {
                    "example": true,
                    "type": "boolean"
                  },
                  "chatSupport": {
                    "example": true,
                    "type": "boolean"
                  },
                  "contractingHub": {
                    "example": false,
                    "type": "boolean"
                  },
                  "signwell": {
                    "example": true,
                    "type": "boolean"
                  },
                  "experimental": {
                    "example": false,
                    "type": "boolean"
                  },
                  "actionRequired": {
                    "example": false,
                    "type": "boolean"
                  },
                  "liteRole": {
                    "example": false,
                    "type": "boolean"
                  },
                  "sanctionsCheck": {
                    "example": false,
                    "type": "boolean"
                  }
                }
              },
              "usage": {
                "example": {
                  "template": {
                    "limit": 5,
                    "count": 0
                  },
                  "user": {
                    "limit": 10,
                    "count": 1
                  },
                  "liteUser": {
                    "limit": 0,
                    "count": 0
                  },
                  "playbook": {
                    "limit": 5,
                    "count": 0
                  },
                  "contract": {
                    "limit": 30,
                    "count": 0
                  },
                  "esignature": {
                    "limit": 30,
                    "count": 0
                  },
                  "sanctionsApi": {
                    "limit": 100,
                    "count": 0
                  }
                },
                "type": "object",
                "properties": {
                  "template": {
                    "example": {
                      "limit": 5,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 5,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "user": {
                    "example": {
                      "limit": 10,
                      "count": 1
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 10,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 1,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "liteUser": {
                    "example": {
                      "limit": 0,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "playbook": {
                    "example": {
                      "limit": 5,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 5,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "contract": {
                    "example": {
                      "limit": 30,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 30,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "esignature": {
                    "example": {
                      "limit": 30,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 30,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  },
                  "sanctionsApi": {
                    "example": {
                      "limit": 100,
                      "count": 0
                    },
                    "type": "object",
                    "properties": {
                      "limit": {
                        "example": 100,
                        "type": "integer",
                        "format": "int64"
                      },
                      "count": {
                        "example": 0,
                        "type": "integer",
                        "format": "int64"
                      }
                    }
                  }
                }
              }
            },
            "default": {
              "planId": "pactly-enterprise",
              "currency": "sgd",
              "billingCycle": "annual",
              "remarks": "",
              "disableGuides": false,
              "capabilities": {
                "generation": true,
                "checklists": false,
                "workflows": true,
                "contractStatus": true,
                "integrations": true,
                "playbooks": true,
                "chatSupport": true,
                "contractingHub": false,
                "signwell": true,
                "experimental": false,
                "actionRequired": false,
                "liteRole": false,
                "sanctionsCheck": false
              },
              "usage": {
                "template": {
                  "limit": 5,
                  "count": 0
                },
                "user": {
                  "limit": 10,
                  "count": 1
                },
                "liteUser": {
                  "limit": 0,
                  "count": 0
                },
                "playbook": {
                  "limit": 5,
                  "count": 0
                },
                "contract": {
                  "limit": 30,
                  "count": 0
                },
                "esignature": {
                  "limit": 30,
                  "count": 0
                },
                "sanctionsApi": {
                  "limit": 100,
                  "count": 0
                }
              }
            },
            "description": "Subscription details for the company",
            "example": {
              "planId": "pactly-enterprise",
              "currency": "sgd",
              "billingCycle": "annual",
              "remarks": "",
              "disableGuides": false,
              "capabilities": {
                "generation": true,
                "checklists": false,
                "workflows": true,
                "contractStatus": true,
                "integrations": true,
                "playbooks": true,
                "chatSupport": true,
                "contractingHub": false,
                "signwell": true,
                "experimental": false,
                "actionRequired": false,
                "liteRole": false,
                "sanctionsCheck": false
              },
              "usage": {
                "template": {
                  "limit": 5,
                  "count": 0
                },
                "user": {
                  "limit": 10,
                  "count": 1
                },
                "liteUser": {
                  "limit": 0,
                  "count": 0
                },
                "playbook": {
                  "limit": 5,
                  "count": 0
                },
                "contract": {
                  "limit": 30,
                  "count": 0
                },
                "esignature": {
                  "limit": 30,
                  "count": 0
                },
                "sanctionsApi": {
                  "limit": 100,
                  "count": 0
                }
              }
            }
          },
          "maintenanceMode": {
            "type": "object",
            "properties": {
              "enabled": {
                "example": false,
                "type": "boolean"
              },
              "loginBlock": {
                "example": false,
                "type": "boolean"
              },
              "loginBlockMessage": {
                "example": "",
                "type": "string"
              },
              "bannerEnabled": {
                "example": true,
                "type": "boolean"
              },
              "bannerMessage": {
                "example": "",
                "type": "string"
              },
              "formSubmissionBlock": {
                "example": false,
                "type": "boolean"
              }
            },
            "default": {
              "enabled": false,
              "loginBlock": false,
              "loginBlockMessage": "",
              "bannerEnabled": true,
              "bannerMessage": "",
              "formSubmissionBlock": false
            },
            "description": "Settings for maintenance mode",
            "example": {
              "enabled": false,
              "loginBlock": false,
              "loginBlockMessage": "",
              "bannerEnabled": true,
              "bannerMessage": "",
              "formSubmissionBlock": false
            }
          },
          "accountHub": {
            "type": "object",
            "properties": {
              "enabledForRoles": {
                "example": [],
                "type": "array",
                "items": {}
              },
              "url": {
                "example": "",
                "type": "string"
              }
            },
            "default": {
              "enabledForRoles": [],
              "url": ""
            },
            "description": "Account hub settings for the company",
            "example": {
              "enabledForRoles": [],
              "url": ""
            }
          },
          "emailSettings": {
            "type": "object",
            "properties": {
              "overrideLogo": {
                "example": false,
                "type": "boolean"
              },
              "senderNameOverride": {
                "example": "",
                "type": "string"
              },
              "extractEmailInAttachments": {
                "example": false,
                "type": "boolean"
              }
            },
            "default": {
              "overrideLogo": false,
              "senderNameOverride": "",
              "extractEmailInAttachments": false
            },
            "description": "Email settings for the company",
            "example": {
              "overrideLogo": false,
              "senderNameOverride": "",
              "extractEmailInAttachments": false
            }
          },
          "hubSettings": {
            "type": "object",
            "properties": {
              "overrideLogo": {
                "example": false,
                "type": "boolean"
              },
              "customSubdomain": {
                "example": "",
                "type": "string"
              },
              "generationFormIds": {
                "example": [],
                "type": "array",
                "items": {}
              },
              "playbookFormIds": {
                "example": [],
                "type": "array",
                "items": {}
              }
            },
            "default": {
              "overrideLogo": false,
              "customSubdomain": "",
              "generationFormIds": [],
              "playbookFormIds": []
            },
            "description": "Contracting hub settings for the company",
            "example": {
              "overrideLogo": false,
              "customSubdomain": "",
              "generationFormIds": [],
              "playbookFormIds": []
            }
          },
          "automationSettings": {
            "type": "object",
            "properties": {
              "active": {
                "example": false,
                "type": "boolean"
              },
              "globalContextPrompt": {
                "example": "",
                "type": "string"
              }
            },
            "default": {
              "active": false,
              "globalContextPrompt": ""
            },
            "description": "Settings for AI Automation",
            "example": {
              "active": false,
              "globalContextPrompt": ""
            }
          },
          "recurringNotificationSettings": {
            "type": "object",
            "properties": {
              "maxSubmissions": {
                "example": 3,
                "type": "integer",
                "format": "int64"
              },
              "approval": {
                "example": {
                  "frequency": "weekly"
                },
                "type": "object",
                "properties": {
                  "frequency": {
                    "example": "weekly",
                    "type": "string"
                  }
                }
              },
              "esignature": {
                "example": {
                  "frequency": "weekly"
                },
                "type": "object",
                "properties": {
                  "frequency": {
                    "example": "weekly",
                    "type": "string"
                  }
                }
              }
            },
            "default": {
              "maxSubmissions": 3,
              "approval": {
                "frequency": "weekly"
              },
              "esignature": {
                "frequency": "weekly"
              }
            },
            "description": "Settings for recurring notification",
            "example": {
              "maxSubmissions": 3,
              "approval": {
                "frequency": "weekly"
              },
              "esignature": {
                "frequency": "weekly"
              }
            }
          },
          "actionRequiredSettings": {
            "type": "object",
            "properties": {
              "newEmail": {
                "example": false,
                "type": "boolean"
              },
              "newMessage": {
                "example": false,
                "type": "boolean"
              },
              "contractAssignment": {
                "example": false,
                "type": "boolean"
              }
            },
            "default": {
              "newEmail": false,
              "newMessage": false,
              "contractAssignment": false
            },
            "description": "Settings for action required flags",
            "example": {
              "newEmail": false,
              "newMessage": false,
              "contractAssignment": false
            }
          },
          "roleVisibilitySettings": {
            "type": "object",
            "properties": {
              "hiddenRoles": {
                "example": [],
                "type": "array",
                "items": {}
              }
            },
            "default": {
              "hiddenRoles": []
            },
            "description": "Settings for role visibility in company interface",
            "example": {
              "hiddenRoles": []
            }
          },
          "inactivityTimeout": {
            "type": "number",
            "format": "double",
            "default": 0,
            "description": "Configures timeout to log user out after a period of inactivity in minutes."
          },
          "passwordLoginDisabled": {
            "type": "boolean",
            "default": false,
            "description": "Has the company disabled login with password."
          },
          "samlLoginEnabled": {
            "type": "boolean",
            "default": false,
            "description": "Has the company enabled SAML login."
          },
          "samlIdpDisplayName": {
            "type": "string",
            "default": "",
            "description": "Displayname of the SAML2 identity provider."
          },
          "samlIdpName": {
            "type": "string",
            "default": "",
            "description": "Name of the SAML2 identity provider."
          },
          "samlLoginUrl": {
            "type": "string",
            "default": "",
            "description": "Login url of the SAML2 identity provider."
          },
          "samlLogoutUrl": {
            "type": "string",
            "default": "",
            "description": "Logout url of the SAML2 identity provider."
          },
          "samlRedirectOnLogout": {
            "type": "boolean",
            "default": false,
            "description": "Should the user be redirected on logout."
          },
          "samlIdpCertificate": {
            "type": "string",
            "default": "",
            "description": "Certificate of the SAML2 identity provider."
          },
          "ldapLoginEnabled": {
            "type": "boolean",
            "default": false,
            "description": "Has the company enabled LDAP login."
          },
          "adSyncEnabled": {
            "type": "boolean",
            "default": false,
            "description": "Has the company enalbed syncing of users from AD."
          },
          "adSyncUser": {
            "type": "string",
            "default": "",
            "description": "Username/dn that we use to connect for AD sync."
          },
          "adSyncPassword": {
            "type": "string",
            "default": "",
            "description": "Password that we use to connect for AD sync."
          },
          "adBaseDn": {
            "type": "string",
            "default": "",
            "description": "BaseDN for the ldap sync if required."
          },
          "adSyncMappings": {
            "type": "array",
            "items": {},
            "default": [],
            "description": "Array of mappings of AD roles to Pactly roles.",
            "example": []
          },
          "ldapAddress": {
            "type": "string",
            "default": "",
            "description": "Address of the LDAP server to authenticate against."
          },
          "ldapDomain": {
            "type": "string",
            "default": "",
            "description": "Domain of the company for ldap login."
          },
          "customHostname": {
            "type": "string",
            "default": "",
            "description": "Custom hostname enabling custom login experience"
          },
          "webhookUrl": {
            "type": "string",
            "default": "",
            "description": "Webhook url where webhook calls are posted."
          },
          "contractStatusLabels": {
            "type": "object",
            "properties": {
              "1": {
                "example": {
                  "label": "Draft"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "Draft",
                    "type": "string"
                  }
                }
              },
              "2": {
                "example": {
                  "label": "In Negotiation"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "In Negotiation",
                    "type": "string"
                  }
                }
              },
              "3": {
                "example": {
                  "label": "Pending Approval"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "Pending Approval",
                    "type": "string"
                  }
                }
              },
              "4": {
                "example": {
                  "label": "Pending Signature"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "Pending Signature",
                    "type": "string"
                  }
                }
              },
              "5": {
                "example": {
                  "label": "Executed"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "Executed",
                    "type": "string"
                  }
                }
              },
              "6": {
                "example": {
                  "label": "Terminated"
                },
                "type": "object",
                "properties": {
                  "label": {
                    "example": "Terminated",
                    "type": "string"
                  }
                }
              }
            },
            "default": {
              "1": {
                "label": "Draft"
              },
              "2": {
                "label": "In Negotiation"
              },
              "3": {
                "label": "Pending Approval"
              },
              "4": {
                "label": "Pending Signature"
              },
              "5": {
                "label": "Executed"
              },
              "6": {
                "label": "Terminated"
              }
            },
            "example": {
              "1": {
                "label": "Draft"
              },
              "2": {
                "label": "In Negotiation"
              },
              "3": {
                "label": "Pending Approval"
              },
              "4": {
                "label": "Pending Signature"
              },
              "5": {
                "label": "Executed"
              },
              "6": {
                "label": "Terminated"
              }
            }
          },
          "emailInKey": {
            "type": "string",
            "description": "Email in key for the company \"key[-contracttypekey][-contractref][-env]@emailin.pactly.ai\"",
            "example": "nus",
            "maxLength": 120
          },
          "contractCategories": {
            "description": "Enabled contract categories for the company. Defaults to Master Services Agreement (MSA) Non Disclosure Agreement (NDA)"
          },
          "propertySettings": {
            "type": "object",
            "properties": {
              "default": {
                "example": {
                  "agreement_date": {
                    "miniview": true,
                    "extract": true
                  },
                  "autorenew": {
                    "miniview": true,
                    "extract": true
                  },
                  "dispute_resolution": {
                    "miniview": true,
                    "extract": true
                  },
                  "effective_date": {
                    "miniview": true,
                    "extract": true
                  },
                  "expiration_date": {
                    "miniview": true,
                    "extract": true
                  },
                  "expiration_date_inferred": {
                    "miniview": true,
                    "extract": true
                  },
                  "governing_law": {
                    "miniview": true,
                    "extract": true
                  },
                  "term": {
                    "miniview": true,
                    "extract": true
                  },
                  "assignment": {
                    "miniview": false,
                    "extract": true
                  },
                  "audit_rights": {
                    "miniview": false,
                    "extract": true
                  },
                  "change_of_control": {
                    "miniview": false,
                    "extract": true
                  },
                  "dispute_resolution_clause": {
                    "miniview": false,
                    "extract": true
                  },
                  "governing_law_clause": {
                    "miniview": false,
                    "extract": true
                  },
                  "indemnity": {
                    "miniview": false,
                    "extract": true
                  },
                  "liability_cap": {
                    "miniview": false,
                    "extract": true
                  },
                  "limitation_of_liability": {
                    "miniview": false,
                    "extract": true
                  },
                  "noncompete": {
                    "miniview": false,
                    "extract": true
                  },
                  "noncompete_clause": {
                    "miniview": false,
                    "extract": true
                  },
                  "nonsolicit": {
                    "miniview": false,
                    "extract": true
                  },
                  "nonsolicit_clause": {
                    "miniview": false,
                    "extract": true
                  },
                  "term_in_months": {
                    "miniview": false,
                    "extract": true
                  }
                },
                "type": "object",
                "properties": {
                  "agreement_date": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "autorenew": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "dispute_resolution": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "effective_date": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "expiration_date": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "expiration_date_inferred": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "governing_law": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "term": {
                    "example": {
                      "miniview": true,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": true,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "assignment": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "audit_rights": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "change_of_control": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "dispute_resolution_clause": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "governing_law_clause": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "indemnity": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "liability_cap": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "limitation_of_liability": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "noncompete": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "noncompete_clause": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "nonsolicit": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "nonsolicit_clause": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  },
                  "term_in_months": {
                    "example": {
                      "miniview": false,
                      "extract": true
                    },
                    "type": "object",
                    "properties": {
                      "miniview": {
                        "example": false,
                        "type": "boolean"
                      },
                      "extract": {
                        "example": true,
                        "type": "boolean"
                      }
                    }
                  }
                }
              }
            },
            "default": {
              "default": {
                "agreement_date": {
                  "miniview": true,
                  "extract": true
                },
                "autorenew": {
                  "miniview": true,
                  "extract": true
                },
                "dispute_resolution": {
                  "miniview": true,
                  "extract": true
                },
                "effective_date": {
                  "miniview": true,
                  "extract": true
                },
                "expiration_date": {
                  "miniview": true,
                  "extract": true
                },
                "expiration_date_inferred": {
                  "miniview": true,
                  "extract": true
                },
                "governing_law": {
                  "miniview": true,
                  "extract": true
                },
                "term": {
                  "miniview": true,
                  "extract": true
                },
                "assignment": {
                  "miniview": false,
                  "extract": true
                },
                "audit_rights": {
                  "miniview": false,
                  "extract": true
                },
                "change_of_control": {
                  "miniview": false,
                  "extract": true
                },
                "dispute_resolution_clause": {
                  "miniview": false,
                  "extract": true
                },
                "governing_law_clause": {
                  "miniview": false,
                  "extract": true
                },
                "indemnity": {
                  "miniview": false,
                  "extract": true
                },
                "liability_cap": {
                  "miniview": false,
                  "extract": true
                },
                "limitation_of_liability": {
                  "miniview": false,
                  "extract": true
                },
                "noncompete": {
                  "miniview": false,
                  "extract": true
                },
                "noncompete_clause": {
                  "miniview": false,
                  "extract": true
                },
                "nonsolicit": {
                  "miniview": false,
                  "extract": true
                },
                "nonsolicit_clause": {
                  "miniview": false,
                  "extract": true
                },
                "term_in_months": {
                  "miniview": false,
                  "extract": true
                }
              }
            },
            "description": "Settings for contract properties miniview and extraction",
            "example": {
              "default": {
                "agreement_date": {
                  "miniview": true,
                  "extract": true
                },
                "autorenew": {
                  "miniview": true,
                  "extract": true
                },
                "dispute_resolution": {
                  "miniview": true,
                  "extract": true
                },
                "effective_date": {
                  "miniview": true,
                  "extract": true
                },
                "expiration_date": {
                  "miniview": true,
                  "extract": true
                },
                "expiration_date_inferred": {
                  "miniview": true,
                  "extract": true
                },
                "governing_law": {
                  "miniview": true,
                  "extract": true
                },
                "term": {
                  "miniview": true,
                  "extract": true
                },
                "assignment": {
                  "miniview": false,
                  "extract": true
                },
                "audit_rights": {
                  "miniview": false,
                  "extract": true
                },
                "change_of_control": {
                  "miniview": false,
                  "extract": true
                },
                "dispute_resolution_clause": {
                  "miniview": false,
                  "extract": true
                },
                "governing_law_clause": {
                  "miniview": false,
                  "extract": true
                },
                "indemnity": {
                  "miniview": false,
                  "extract": true
                },
                "liability_cap": {
                  "miniview": false,
                  "extract": true
                },
                "limitation_of_liability": {
                  "miniview": false,
                  "extract": true
                },
                "noncompete": {
                  "miniview": false,
                  "extract": true
                },
                "noncompete_clause": {
                  "miniview": false,
                  "extract": true
                },
                "nonsolicit": {
                  "miniview": false,
                  "extract": true
                },
                "nonsolicit_clause": {
                  "miniview": false,
                  "extract": true
                },
                "term_in_months": {
                  "miniview": false,
                  "extract": true
                }
              }
            }
          },
          "signingSettings": {
            "type": "object",
            "properties": {
              "defaultOnUpload": {
                "example": "fullySigned",
                "type": "string"
              },
              "defaultOnEsignature": {
                "example": "fullySigned",
                "type": "string"
              }
            },
            "default": {
              "defaultOnUpload": "fullySigned",
              "defaultOnEsignature": "fullySigned"
            },
            "description": "Settings for contract signing",
            "example": {
              "defaultOnUpload": "fullySigned",
              "defaultOnEsignature": "fullySigned"
            }
          },
          "approvalSettings": {
            "type": "object",
            "properties": {
              "approveLabel": {
                "example": "Approve",
                "type": "string"
              },
              "rejectLabel": {
                "example": "Reject",
                "type": "string"
              },
              "hideRejectButton": {
                "example": false,
                "type": "boolean"
              }
            },
            "default": {
              "approveLabel": "Approve",
              "rejectLabel": "Reject",
              "hideRejectButton": false
            },
            "description": "Settings for contract approval",
            "example": {
              "approveLabel": "Approve",
              "rejectLabel": "Reject",
              "hideRejectButton": false
            }
          },
          "lockedDomains": {
            "description": "List of domains that are locked for the company i.e. cannot be used to sign up on the platform with"
          },
          "lockedDomainMessage": {
            "type": "string",
            "description": "Message to display to the user when they try to sign up with a locked domain"
          },
          "requireIntakeFormForContractCreation": {
            "type": "boolean",
            "default": false,
            "description": "When enabled, team members must use the intake form workflow to create new contracts. Direct document uploads will be disabled."
          },
          "allowFinalizationBypass": {
            "type": "boolean",
            "default": false,
            "description": "When enabled, users can bypass the finalization process and upload signed pdf directly."
          },
          "contractReferenceTokens": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "example": "value",
                      "type": "string"
                    },
                    "label": {
                      "example": "Year",
                      "type": "string"
                    },
                    "id": {
                      "example": "year",
                      "type": "string"
                    }
                  }
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "example": "value",
                      "type": "string"
                    },
                    "label": {
                      "example": "Incremental 4-digit",
                      "type": "string"
                    },
                    "id": {
                      "example": "4-digit",
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "default": [
              {
                "type": "value",
                "label": "Year",
                "id": "year"
              },
              {
                "type": "value",
                "label": "Incremental 4-digit",
                "id": "4-digit"
              }
            ],
            "description": "Tokens for how to generate contract reference numbers in the company",
            "example": [
              {
                "type": "value",
                "label": "Year",
                "id": "year"
              },
              {
                "type": "value",
                "label": "Incremental 4-digit",
                "id": "4-digit"
              }
            ]
          },
          "contractReferenceCounts": {},
          "canUpdateReference": {
            "type": "boolean",
            "default": true,
            "example": true
          },
          "shouldAbortContracts": {
            "type": "boolean",
            "default": true,
            "example": true
          },
          "abortContractsUnits": {
            "type": "number",
            "format": "double",
            "default": 6,
            "example": 6
          },
          "emailFallback": {
            "type": "string",
            "default": "",
            "description": "Fallback email address for the company to use for notifications"
          },
          "lastSurpassedLimitsNotification": {
            "type": "string",
            "format": "date",
            "default": 0
          },
          "users": {
            "description": "Array of **user**'s or array of FK's when creating / updating / not populated",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/user"
            }
          },
          "defaultAdmin": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractattachment": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractattachment-without-required-constraint"
          }
        ]
      },
      "contractattachment-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractAttachment**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file"
          },
          "fileKey": {
            "type": "string",
            "description": "Key of the file in the AWS S3 storage bucket"
          },
          "contractnote": {
            "description": "JSON dictionary representing the **contractnote** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/contractnote"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "formentry": {
            "description": "JSON dictionary representing the **formentry** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/formentry"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractelement": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractelement-without-required-constraint"
          }
        ]
      },
      "contractelement-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractElement**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "name": {
            "type": "string",
            "description": "Name of the element"
          },
          "key": {
            "type": "string",
            "description": "Key of the element"
          },
          "description": {
            "type": "string",
            "description": "Description of the element"
          },
          "prompt": {
            "type": "string",
            "default": "",
            "description": "Prompt for the element"
          },
          "categories": {
            "description": "Categories of the element (contract category)"
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          }
        }
      },
      "contractentrylink": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractentrylink-without-required-constraint"
          }
        ]
      },
      "contractentrylink-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractEntryLink**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "formentry": {
            "description": "JSON dictionary representing the **formentry** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/formentry"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractlink": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractlink-without-required-constraint"
          }
        ]
      },
      "contractlink-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractLink**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "originTemplatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "originPlaybookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "originExternalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "targetTemplatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "targetPlaybookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "targetExternalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "type": {
            "type": "string"
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractnote": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractnote-without-required-constraint"
          },
          {
            "required": [
              "text"
            ]
          }
        ]
      },
      "contractnote-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractNote**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "text": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "description": "Either \"contract\" or \"hub\" for now"
          },
          "noteType": {
            "type": "string",
            "default": "note",
            "description": "Either \"note\" or \"message\" for now",
            "example": "note"
          },
          "notifyRecipients": {
            "type": "array",
            "items": {},
            "default": [],
            "description": "List of users to notify when the note is created",
            "example": []
          },
          "linkedEntries": {
            "type": "array",
            "items": {},
            "default": [],
            "description": "List of form entries linked to the note",
            "example": []
          },
          "settings": {
            "type": "object",
            "properties": {
              "includeAttachmentsInEmail": {
                "example": true,
                "type": "boolean"
              },
              "includeContractInEmail": {
                "example": false,
                "type": "boolean"
              },
              "includeSenderInCC": {
                "example": false,
                "type": "boolean"
              },
              "attachedFormSequenceId": {
                "example": null,
                "type": "object",
                "properties": {}
              },
              "attachedFormSequenceRecipients": {
                "example": {},
                "type": "object",
                "properties": {}
              }
            },
            "default": {
              "includeAttachmentsInEmail": true,
              "includeContractInEmail": false,
              "includeSenderInCC": false,
              "attachedFormSequenceId": null,
              "attachedFormSequenceRecipients": {}
            },
            "description": "Additional settings for the note",
            "example": {
              "includeAttachmentsInEmail": true,
              "includeContractInEmail": false,
              "includeSenderInCC": false,
              "attachedFormSequenceId": null,
              "attachedFormSequenceRecipients": {}
            }
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "lastUpdatedBy": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractpartylink": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractpartylink-without-required-constraint"
          }
        ]
      },
      "contractpartylink-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractPartyLink**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "templatecontract": {
            "description": "JSON dictionary representing the **templatecontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/templatecontract"
              }
            ]
          },
          "playbookcontract": {
            "description": "JSON dictionary representing the **playbookcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/playbookcontract"
              }
            ]
          },
          "externalcontract": {
            "description": "JSON dictionary representing the **externalcontract** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/externalcontract"
              }
            ]
          },
          "party": {
            "description": "JSON dictionary representing the **party** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/party"
              }
            ]
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "Roles for the party in the contract: counterparty, signer, counterparty_representative, our_representative",
            "example": [
              "counterparty"
            ]
          },
          "company": {
            "description": "JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          }
        }
      },
      "contractproperty": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractproperty-without-required-constraint"
          },
          {
            "required": [
              "label",
              "key"
            ]
          }
        ]
      },
      "contractproperty-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractProperty**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
            "uniqueItems": true
          },
          "label": {
            "type": "string",
            "maxLength": 64
          },
          "description": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the property as string: \"string\", \"number\", \"boolean\", \"multi-line\", \"list\", \"multi-option\", \"date\", \"duration\", \"party\", \"user\""
          },
          "options": {},
          "isDefault": {
            "type": "boolean",
            "default": false
          },
          "subGroup": {
            "type": "string",
            "description": "The sub-group this property is shown on in property viewer"
          },
          "sortOrder": {
            "type": "number",
            "format": "double",
            "default": 0,
            "description": "The sort order of this property in the property viewer (larger number first)"
          },
          "areOptionsConditional": {
            "type": "boolean",
            "description": "Whether the options of this property are conditional on other properties"
          },
          "parentPropertyKey": {
            "description": "The key of the parent property that this property is conditional on"
          },
          "optionsByValue": {
            "description": "The options of this property, grouped by value of its parent property (used for list properties)"
          },
          "useForSorting": {
            "type": "boolean",
            "default": false,
            "description": "Whether to use this property for sorting on contracts dashboard"
          },
          "predictionPrompt": {
            "type": "string",
            "default": ""
          },
          "company": {
            "description": "The company this property belongs to, for global properties this is null. JSON dictionary representing the **company** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/company"
              }
            ]
          },
          "user": {
            "description": "JSON dictionary representing the **user** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/user"
              }
            ]
          },
          "template": {
            "description": "JSON dictionary representing the **template** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/template"
              }
            ]
          },
          "group": {
            "description": "JSON dictionary representing the **contractpropertygroup** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/contractpropertygroup"
              }
            ]
          },
          "categories": {},
          "parent": {
            "description": "JSON dictionary representing the **contractproperty** instance or FK when creating / updating / not populated",
            "oneOf": [
              {
                "$ref": "#/components/schemas/contractproperty"
              }
            ]
          }
        }
      },
      "contractpropertygroup": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/contractpropertygroup-without-required-constraint"
          },
          {
            "required": [
              "label"
            ]
          }
        ]
      },
      "contractpropertygroup-without-required-constraint": {
        "type": "object",
        "description": "Sails ORM Model **ContractPropertyGroup**",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date"
          },
          "id": {
            "type": "string",
[...]
